<div class="tab item-cheesy-supply" data-group="primary" data-tab="ftd">
  <div class="form-group">
    <label> Supply Cost </label>
    <input
      type="number"
      name="flags.cheesy-hack-sheet.supply-cost"
      value="{{flags.cheesy-hack-sheet.supply-cost}}"
      data-dtype="Number" />
  </div>
  <div class="form-group">
    <label> Restock quantity</label>
    <input
      type="number"
      name="flags.cheesy-hack-sheet.restock"
      value="{{flags.cheesy-hack-sheet.restock}}"
      data-dtype="Number" />
  </div>
  <div class="form-group">
    <label> Durability </label>
    <input
      type="number"
      name="flags.cheesy-hack-sheet.durability"
      value="{{flags.cheesy-hack-sheet.durability}}"
      data-dtype="Number" />
  </div>

  <div class="form-group">
    <label> Load</label>
    <input
      type="number"
      name="flags.cheesy-hack-sheet.load"
      value="{{flags.cheesy-hack-sheet.load}}"
      data-dtype="Number" />
  </div>
  <div class="form-group">
    <label> Quantity per load </label>
    <input
      type="number"
      name="flags.cheesy-hack-sheet.load-quantity"
      value="{{flags.cheesy-hack-sheet.load-quantity}}"
      data-dtype="Number" />
  </div>
  <div class="form-group">
    <label> Min quantity for 1 load</label>
    <input
      type="number"
      name="flags.cheesy-hack-sheet.min-load-quantity"
      value="{{flags.cheesy-hack-sheet.min-load-quantity}}"
      data-dtype="Number" />
  </div>

</div>
